@font-face {
  font-family: 'Playfair Display';
  src: url(assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;

}
nav .btn{
  width: 100%;
}
.btn {
  background-color: #D4AF37;
  padding: 15px;
  border-radius: 50px;
  font-size: 0.8rem;
  width: 50%;
  transition: transform 1s ease;
  color: rgb(17, 17, 17);
}
.btn:hover{
  transform: translate(-5px);
  background-color: #D4AF37;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  color: black;
}

p{
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  color: rgb(233, 233, 233);
}

h5{
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
}
label{
  font-family: 'Poppins', sans-serif;
}
span{
  color: #D4AF37;
}
.hero h1{
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
  }
.hero .leading{
    padding-left: 30px;
    padding-right: 30px;
}
.hero-gradient {
    background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(30,58,138,0.9) 100%);
}

.form-control, .form-select, .form-check-input{
  background-color: transparent;
  border: 1px solid #D4AF37;
  border-radius: 10px;
  color: rgb(163, 163, 163);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
}
.form-control:focus, .form-select:focus{
  border: 1px solid #D4AF37;
  box-shadow: 0 0 5px #D4AF37;
  outline: none;
  color: rgb(163, 163, 163);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  background: transparent;
}
.form-control, .form-select {
  padding: 10px;
}
.form-control::after, .form-select::after{
  background-color: #D4AF37;
}
.form-check-input:checked{
  background-color: #D4AF37;
  border: 1px solid #D4AF37;
  box-shadow: 0 0 5px #D4AF37;
}
.form-control::placeholder{
  color: rgb(163, 163, 163);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
}
footer h5{
  color: #D4AF37;
  font-family: 'Poppins', sans-serif;
}
footer p{
  color: gray;
}
footer a{
  color: gray;
}
@media (min-width: 769px) {
  nav .btn{
    width: 15%;
  }
  .image img{
    width: 80%;
  }
  .hero h1{
    font-size: 3.5rem;
  }
  .btn{
    width: 20%;
  }
  .stats p{
    font-size: 1em;
  }
  .fabrics .btn{
    width: 25% ;
  }
  .contact .btn{
    width: 35% ;
  }
  .hero .leading{
    font-size: 1.5rem;
  }
}