@font-face {
  font-family: 'Playfair Display';
  src: url(assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}
nav .btn{
  width: 100%;
}

p{
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  color: rgb(233, 233, 233);

}
.hero h1{
  font-family: 'Playfair Dispaly', serif;
  font-size: 2.8rem;
}
span{
  color: #D4AF37;
}
.btn {
  background-color: #D4AF37;
  padding: 15px;
  border-radius: 50px;
  font-size: 0.8rem;
  width: 50%;
  transition: transform 1s ease;
  color: rgb(17, 17, 17);
}
.btn:hover{
  transform: translate(-5px);
  background-color: #D4AF37;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  color: black;
}

.hero p{
  font-family: 'Poppins', sans-serif;
}
.image img{
  border-radius: 10px;
}
.about h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.about h3{
  color: #D4AF37;
}
.stats p{
  font-size: 0.7em;
  line-height: 20px;
}
.service{
  background-color:rgba(11, 14, 24, 0.9);
}
.service h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.service .text{
  font-size: 1.2rem;
  color: white;
}
.service h3 {
  font-family: 'Playfair Display', serif;
}

.service p{
  color: rgb(102, 102, 102);
}
.service a {
  text-decoration: none;
  color: #D4AF37;
}
.service .icons span{
  font-size: 1.5rem;
}
.service .icons{
  background-color: #D4AF37;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.collections h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.collections .text{
  font-size: 1.2rem;
  color: white;
}
.collections h3 {
  font-family: 'Playfair Display', serif;
}
.collections p{
  color: white;
}
.custom-card{
  height: 350px;
}
.fabrics{
  background-color:rgba(11, 14, 24, 0.9);
}
.fabrics h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.fabrics .text{
  font-size: 1.2rem;
  color: white;
  line-height: 30px;
}
.fabrics h3 {
  font-family: 'Playfair Display', serif;
}

.fabrics p{
  color: rgb(102, 102, 102);
  font-size: 0.8rem;
  line-height: 20px;
}
.fabrics a {
  text-decoration: none;
  color: #D4AF37;
  font-size: 1rem;
}

.fabrics .svg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.fabrics .square{
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.fabrics .aso-oke .svg{
  background-color: #8b4513;
}
.fabrics .aso-oke .square{
  background-color: #cd853f ;
  border: 10px solid rgb(210, 105, 19, 0.8);
}
.fabrics .wool .svg{
  background-color: #2F4F4F;
}
.fabrics .wool .square{
  background-color: #B0C4DE;
  border: 10px solid #708090;
}
.fabrics .ankara .svg{
  background-color: #4169E1;
}
.fabrics .ankara .square{
  background-color: #6495ED;
  border: 10px solid #87CEEB;
}
.fabrics .brocade .svg{
  background-color: #800080;
}
.fabrics .brocade .square{
  background-color: #DDA0DD;
  border: 10px solid #9370DB;
}
.fabrics .cashmere .svg{
  background-color: #DC143C;
}
.fabrics .cashmere .square{
  background-color: #FFA07A;
  border: 10px solid #FF6347;
}
.fabrics .linen .svg{
  background-color: #D4AF37;
}
.fabrics .linen .square{
  background-color:  #FFFF00;
  border: 10px solid #FFA500;
}
.fabrics .velvet .svg{
  background-color: #800080;
}
.fabrics .velvet .square{
  background-color: #9966CC;
  border: 10px solid #663399;
}
.fabrics .adire .svg{
  background-color: #228B22;
}
.fabrics .adire .square{
  background-color: #90EE90;
  border: 10px solid #32CD32;
}
.fabrics .btn{
  width: 70% ;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.fabrics .card{
  height: 300px;
}
.reviews h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.reviews .text{
  font-size: 1.2rem;
  color: white;
}
.reviews h3 {
  font-family: 'Playfair Display', serif;
}

.reviews p{
  color: rgb(102, 102, 102);
  font-style: italic;
}
.reviews h6{
  font-family: 'Poppins', sans-serif;
}
.reviews .review-head h6{
  margin-bottom: 0;
}
.contact{
  background-color: navy;
  color: white;
}
.contact h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.contact .text{
  font-size: 1.2rem;
  color: white;
}
.contact h3 {
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
}

.contact h5{
  font-family: 'Poppins', sans-serif;
}
.contact .btn {
  font-family: 'Poppins', sans-serif;
  background-color: #D4AF37;
}
.contact .icons span{
  font-size: 1rem;
}
.contact .icons{
  background-color: #D4AF37;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.cta h3{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.card {
    transition: all 0.3s ease;
    cursor: pointer;
}
.card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15) !important;
}
footer h5{
  color: #D4AF37;
  font-family: 'Poppins', sans-serif;
}
footer p{
  color: gray;
}
footer a{
  color: gray;
}
@media (min-width: 769px) {
  nav .btn{
    width: 15%;
  }
  .image img{
    width: 80%;
  }
  .hero h1{
    font-size: 3.5rem;
  }
  .btn{
    width: 20%;
  }
  .stats p{
    font-size: 1em;
  }
  .fabrics .btn{
    width: 25% ;
  }
  .contact .btn{
    width: 35% ;
  }
}